USE [DWTailspin]
GO
/****** Object:  Synonym [dbo].[synProduct]    Script Date: 8/11/2025 2:52:36 PM ******/
CREATE SYNONYM [dbo].[synProduct] FOR [TailspinToys2020-US].[dbo].[Product]
GO
/****** Object:  Synonym [dbo].[synRegion]    Script Date: 8/11/2025 2:52:36 PM ******/
CREATE SYNONYM [dbo].[synRegion] FOR [TailspinToys2020-US].[dbo].[Region]
GO
/****** Object:  Synonym [dbo].[synSales]    Script Date: 8/11/2025 2:52:36 PM ******/
CREATE SYNONYM [dbo].[synSales] FOR [TailspinToys2020-US].[dbo].[Sales]
GO
/****** Object:  Synonym [dbo].[synState]    Script Date: 8/11/2025 2:52:36 PM ******/
CREATE SYNONYM [dbo].[synState] FOR [TailspinToys2020-US].[dbo].[State]
GO
/****** Object:  Synonym [dbo].[synVSalesExtract]    Script Date: 8/11/2025 2:52:36 PM ******/
CREATE SYNONYM [dbo].[synVSalesExtract] FOR [TailspinToys2020-US].[dbo].[vSalesExtract]
GO
/****** Object:  Table [dbo].[dim_estado]    Script Date: 8/11/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_estado](
	[state_key] [int] IDENTITY(1,1) NOT NULL,
	[state_id_nk] [int] NOT NULL,
	[state_code] [nvarchar](2) NOT NULL,
	[state_name] [nvarchar](50) NOT NULL,
	[time_zone] [nvarchar](10) NOT NULL,
	[region_id] [int] NOT NULL,
	[region_name] [nvarchar](50) NOT NULL,
	[start_date] [datetime2](0) NOT NULL,
	[end_date] [datetime2](0) NOT NULL,
	[is_current] [bit] NOT NULL,
	[hash_diff] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[state_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_producto]    Script Date: 8/11/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_producto](
	[product_key] [int] IDENTITY(1,1) NOT NULL,
	[product_id_nk] [int] NOT NULL,
	[product_sku] [nvarchar](50) NOT NULL,
	[product_name] [nvarchar](50) NOT NULL,
	[product_category] [nvarchar](50) NOT NULL,
	[item_group] [nvarchar](50) NOT NULL,
	[kit_type] [nchar](3) NOT NULL,
	[channels] [tinyint] NOT NULL,
	[demographic] [nvarchar](50) NOT NULL,
	[retail_price] [money] NOT NULL,
	[start_date] [datetime2](0) NOT NULL,
	[end_date] [datetime2](0) NOT NULL,
	[is_current] [bit] NOT NULL,
	[hash_diff] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_tiempo]    Script Date: 8/11/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_tiempo](
	[date_key] [int] NOT NULL,
	[date] [date] NOT NULL,
	[year] [int] NOT NULL,
	[quarter] [tinyint] NOT NULL,
	[month] [tinyint] NOT NULL,
	[day] [tinyint] NOT NULL,
	[month_name] [nvarchar](20) NOT NULL,
	[day_name] [nvarchar](20) NOT NULL,
	[week_of_year] [tinyint] NOT NULL,
	[is_weekend] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[date_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_venta_flags]    Script Date: 8/11/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_venta_flags](
	[flags_key] [int] IDENTITY(1,1) NOT NULL,
	[promotion_code] [nvarchar](20) NULL,
	[has_discount] [bit] NOT NULL,
	[is_promo] [bit] NOT NULL,
	[start_date] [datetime2](0) NOT NULL,
	[end_date] [datetime2](0) NOT NULL,
	[is_current] [bit] NOT NULL,
	[hash_diff] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[flags_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_ventas]    Script Date: 8/11/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_ventas](
	[fact_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_number] [nchar](10) NOT NULL,
	[order_date_key] [int] NOT NULL,
	[ship_date_key] [int] NULL,
	[product_key] [int] NOT NULL,
	[state_key] [int] NOT NULL,
	[flags_key] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](9, 2) NOT NULL,
	[discount_amount] [decimal](9, 2) NOT NULL,
	[gross_amount] [decimal](18, 2) NOT NULL,
	[net_amount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_estado] FOREIGN KEY([state_key])
REFERENCES [dbo].[dim_estado] ([state_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_estado]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_flags] FOREIGN KEY([flags_key])
REFERENCES [dbo].[dim_venta_flags] ([flags_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_flags]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_producto] FOREIGN KEY([product_key])
REFERENCES [dbo].[dim_producto] ([product_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_producto]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_tiempo_order] FOREIGN KEY([order_date_key])
REFERENCES [dbo].[dim_tiempo] ([date_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_tiempo_order]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_tiempo_ship] FOREIGN KEY([ship_date_key])
REFERENCES [dbo].[dim_tiempo] ([date_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_tiempo_ship]
GO
