USE [DWTailspin]
GO
/****** Object:  Synonym [dbo].[synProduct]    Script Date: 8/11/2025 7:40:44 PM ******/
CREATE SYNONYM [dbo].[synProduct] FOR [TailspinToys2020-US].[dbo].[Product]
GO
/****** Object:  Synonym [dbo].[synRegion]    Script Date: 8/11/2025 7:40:44 PM ******/
CREATE SYNONYM [dbo].[synRegion] FOR [TailspinToys2020-US].[dbo].[Region]
GO
/****** Object:  Synonym [dbo].[synSales]    Script Date: 8/11/2025 7:40:44 PM ******/
CREATE SYNONYM [dbo].[synSales] FOR [TailspinToys2020-US].[dbo].[Sales]
GO
/****** Object:  Synonym [dbo].[synState]    Script Date: 8/11/2025 7:40:44 PM ******/
CREATE SYNONYM [dbo].[synState] FOR [TailspinToys2020-US].[dbo].[State]
GO
/****** Object:  Synonym [dbo].[synVSalesExtract]    Script Date: 8/11/2025 7:40:44 PM ******/
CREATE SYNONYM [dbo].[synVSalesExtract] FOR [TailspinToys2020-US].[dbo].[vSalesExtract]
GO
/****** Object:  Table [dbo].[dim_estado]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_estado](
	[state_key] [int] IDENTITY(1,1) NOT NULL,
	[state_id_nk] [int] NOT NULL,
	[state_code] [nvarchar](2) NOT NULL,
	[state_name] [nvarchar](50) NOT NULL,
	[time_zone] [nvarchar](10) NOT NULL,
	[region_id] [int] NOT NULL,
	[region_name] [nvarchar](50) NOT NULL,
	[start_date] [datetime2](0) NOT NULL,
	[end_date] [datetime2](0) NOT NULL,
	[is_current] [bit] NOT NULL,
	[hash_diff] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[state_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_producto]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_producto](
	[product_key] [int] IDENTITY(1,1) NOT NULL,
	[product_id_nk] [int] NOT NULL,
	[product_sku] [nvarchar](50) NOT NULL,
	[product_name] [nvarchar](50) NOT NULL,
	[product_category] [nvarchar](50) NOT NULL,
	[item_group] [nvarchar](50) NOT NULL,
	[kit_type] [nchar](3) NOT NULL,
	[channels] [tinyint] NOT NULL,
	[demographic] [nvarchar](50) NOT NULL,
	[retail_price] [money] NOT NULL,
	[start_date] [datetime2](0) NOT NULL,
	[end_date] [datetime2](0) NOT NULL,
	[is_current] [bit] NOT NULL,
	[hash_diff] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_tiempo]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_tiempo](
	[date_key] [int] NOT NULL,
	[date] [date] NOT NULL,
	[year] [int] NOT NULL,
	[quarter] [tinyint] NOT NULL,
	[month] [tinyint] NOT NULL,
	[day] [tinyint] NOT NULL,
	[month_name] [nvarchar](20) NOT NULL,
	[day_name] [nvarchar](20) NOT NULL,
	[week_of_year] [tinyint] NOT NULL,
	[is_weekend] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[date_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_venta_flags]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_venta_flags](
	[flags_key] [int] IDENTITY(1,1) NOT NULL,
	[promotion_code] [nvarchar](20) NULL,
	[has_discount] [bit] NOT NULL,
	[is_promo] [bit] NOT NULL,
	[start_date] [datetime2](0) NOT NULL,
	[end_date] [datetime2](0) NOT NULL,
	[is_current] [bit] NOT NULL,
	[hash_diff] [varbinary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[flags_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_ventas]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_ventas](
	[fact_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_number] [nchar](10) NOT NULL,
	[order_date_key] [int] NOT NULL,
	[ship_date_key] [int] NULL,
	[product_key] [int] NOT NULL,
	[state_key] [int] NOT NULL,
	[flags_key] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](9, 2) NOT NULL,
	[discount_amount] [decimal](9, 2) NOT NULL,
	[gross_amount] [decimal](18, 2) NOT NULL,
	[net_amount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_estado] FOREIGN KEY([state_key])
REFERENCES [dbo].[dim_estado] ([state_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_estado]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_flags] FOREIGN KEY([flags_key])
REFERENCES [dbo].[dim_venta_flags] ([flags_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_flags]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_producto] FOREIGN KEY([product_key])
REFERENCES [dbo].[dim_producto] ([product_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_producto]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_tiempo_order] FOREIGN KEY([order_date_key])
REFERENCES [dbo].[dim_tiempo] ([date_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_tiempo_order]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_tiempo_ship] FOREIGN KEY([ship_date_key])
REFERENCES [dbo].[dim_tiempo] ([date_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_tiempo_ship]
GO
/****** Object:  StoredProcedure [dbo].[sp_cargar_dim_estado]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   SP: sp_cargar_dim_estado (SCD2)
   Fuente: dbo.synState + dbo.synRegion
   ============================================================ */
CREATE   PROCEDURE [dbo].[sp_cargar_dim_estado]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ts_now DATETIME2(0) = SYSUTCDATETIME();
    DECLARE @max_dt DATETIME2(0) = '9999-12-31';

    ;WITH src AS (
        SELECT
            st.StateID                         AS state_id_nk,
            st.StateCode   COLLATE DATABASE_DEFAULT AS state_code,
            st.StateName   COLLATE DATABASE_DEFAULT AS state_name,
            st.TimeZone    COLLATE DATABASE_DEFAULT AS time_zone,
            r.RegionID,
            r.RegionName  COLLATE DATABASE_DEFAULT AS region_name,
            CAST(HASHBYTES('MD5',
                CONCAT(
                    N'|', st.StateCode   COLLATE DATABASE_DEFAULT,
                    N'|', st.StateName   COLLATE DATABASE_DEFAULT,
                    N'|', st.TimeZone    COLLATE DATABASE_DEFAULT,
                    N'|', CONVERT(NVARCHAR(10), r.RegionID),
                    N'|', r.RegionName   COLLATE DATABASE_DEFAULT
                )
            ) AS VARBINARY(16)) AS hash_diff
        FROM dbo.synState  st
        JOIN dbo.synRegion r
          ON r.RegionID = st.RegionID
    )
    -- Expira current si cambió
    UPDATE d
      SET d.end_date = @ts_now,
          d.is_current = 0
    FROM dbo.dim_estado d
    JOIN src s
      ON s.state_id_nk = d.state_id_nk
    WHERE d.is_current = 1
      AND d.hash_diff <> s.hash_diff;

    -- Inserta nuevas (nuevas NK o expiradas)
    INSERT dbo.dim_estado (
        state_id_nk, state_code, state_name, time_zone, region_id, region_name,
        start_date, end_date, is_current, hash_diff
    )
    SELECT
        s.state_id_nk, s.state_code, s.state_name, s.time_zone, s.RegionID, s.region_name,
        @ts_now, @max_dt, 1, s.hash_diff
    FROM src s
    LEFT JOIN dbo.dim_estado d
      ON d.state_id_nk = s.state_id_nk
     AND d.is_current = 1
    WHERE d.state_id_nk IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_cargar_dim_producto]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   SP: sp_cargar_dim_producto (SCD2)
   Fuente: dbo.synProduct
   ============================================================ */
CREATE   PROCEDURE [dbo].[sp_cargar_dim_producto]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ts_now DATETIME2(0) = SYSUTCDATETIME();
    DECLARE @max_dt DATETIME2(0) = '9999-12-31';

    ;WITH src AS (
        SELECT
            p.ProductID                                        AS product_id_nk,
            p.ProductSKU        COLLATE DATABASE_DEFAULT        AS product_sku,
            p.ProductName       COLLATE DATABASE_DEFAULT        AS product_name,
            p.ProductCategory   COLLATE DATABASE_DEFAULT        AS product_category,
            p.ItemGroup         COLLATE DATABASE_DEFAULT        AS item_group,
            p.KitType           COLLATE DATABASE_DEFAULT        AS kit_type,
            p.Channels,
            p.Demographic       COLLATE DATABASE_DEFAULT        AS demographic,
            p.RetailPrice,
            CAST(HASHBYTES('MD5',
                CONCAT(
                    N'|', p.ProductSKU       COLLATE DATABASE_DEFAULT,
                    N'|', p.ProductName      COLLATE DATABASE_DEFAULT,
                    N'|', p.ProductCategory  COLLATE DATABASE_DEFAULT,
                    N'|', p.ItemGroup        COLLATE DATABASE_DEFAULT,
                    N'|', p.KitType          COLLATE DATABASE_DEFAULT,
                    N'|', CONVERT(NVARCHAR(10), p.Channels),
                    N'|', p.Demographic      COLLATE DATABASE_DEFAULT,
                    N'|', CONVERT(NVARCHAR(32), p.RetailPrice)
                )
            ) AS VARBINARY(16)) AS hash_diff
        FROM dbo.synProduct p
    )
    -- Expira current si cambió
    UPDATE d
      SET d.end_date = @ts_now,
          d.is_current = 0
    FROM dbo.dim_producto d
    JOIN src s
      ON s.product_id_nk = d.product_id_nk
    WHERE d.is_current = 1
      AND d.hash_diff <> s.hash_diff;

    -- Inserta nuevas (nuevas NK o expiradas)
    INSERT dbo.dim_producto (
        product_id_nk, product_sku, product_name, product_category,
        item_group, kit_type, channels, demographic, retail_price,
        start_date, end_date, is_current, hash_diff
    )
    SELECT
        s.product_id_nk, s.product_sku, s.product_name, s.product_category,
        s.item_group, s.kit_type, s.Channels, s.demographic, s.RetailPrice,
        @ts_now, @max_dt, 1, s.hash_diff
    FROM src s
    LEFT JOIN dbo.dim_producto d
      ON d.product_id_nk = s.product_id_nk
     AND d.is_current = 1
    WHERE d.product_id_nk IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_cargar_dim_tiempo]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   SP: sp_cargar_dim_tiempo
   Regenera la dimensión calendario (5 años mínimos)
   ============================================================ */
CREATE   PROCEDURE [dbo].[sp_cargar_dim_tiempo]
AS
BEGIN
    SET NOCOUNT ON;

    -- Rango recomendado: +/−1 año del histórico (2018-2020) → 2018 a 2022
    DECLARE @start_date DATE = '2018-01-01';
    DECLARE @end_date   DATE = '2022-12-31';

    TRUNCATE TABLE dbo.dim_tiempo;

    DECLARE @d DATE = @start_date;
    WHILE @d <= @end_date
    BEGIN
        INSERT dbo.dim_tiempo (
            date_key, [date], [year], [quarter], [month], [day],
            month_name, day_name, week_of_year, is_weekend
        )
        VALUES (
            CONVERT(INT, FORMAT(@d,'yyyyMMdd')),
            @d,
            YEAR(@d),
            DATEPART(QUARTER, @d),
            MONTH(@d),
            DAY(@d),
            DATENAME(MONTH, @d),
            DATENAME(WEEKDAY, @d),
            DATEPART(WEEK, @d),
            CASE WHEN DATENAME(WEEKDAY, @d) IN ('Saturday','Sunday') THEN 1 ELSE 0 END
        );
        SET @d = DATEADD(DAY, 1, @d);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_cargar_dim_venta_flags]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   SP: sp_cargar_dim_venta_flags (JUNK, combos actuales)
   Fuente: dbo.synSales
   ============================================================ */
CREATE   PROCEDURE [dbo].[sp_cargar_dim_venta_flags]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ts_now DATETIME2(0) = SYSUTCDATETIME();
    DECLARE @max_dt DATETIME2(0) = '9999-12-31';

    ;WITH src AS (
        SELECT
            CASE WHEN s.PromotionCode IS NULL THEN NULL
                 ELSE s.PromotionCode COLLATE DATABASE_DEFAULT
            END AS promotion_code,
            CAST(CASE WHEN s.DiscountAmount > 0 THEN 1 ELSE 0 END AS BIT) AS has_discount,
            CAST(CASE WHEN s.PromotionCode IS NOT NULL THEN 1 ELSE 0 END AS BIT) AS is_promo
        FROM dbo.synSales s
        GROUP BY
            CASE WHEN s.PromotionCode IS NULL THEN NULL
                 ELSE s.PromotionCode COLLATE DATABASE_DEFAULT
            END,
            CAST(CASE WHEN s.DiscountAmount > 0 THEN 1 ELSE 0 END AS BIT),
            CAST(CASE WHEN s.PromotionCode IS NOT NULL THEN 1 ELSE 0 END AS BIT)
    )
    INSERT dbo.dim_venta_flags (
        promotion_code, has_discount, is_promo,
        start_date, end_date, is_current, hash_diff
    )
    SELECT
        s.promotion_code, s.has_discount, s.is_promo,
        @ts_now, @max_dt, 1,
        CAST(HASHBYTES('MD5',
            CONCAT(
                N'|', COALESCE(s.promotion_code, N'<NULL>') COLLATE DATABASE_DEFAULT,
                N'|', CONVERT(NVARCHAR(1), s.has_discount),
                N'|', CONVERT(NVARCHAR(1), s.is_promo)
            )
        ) AS VARBINARY(16)) AS hash_diff
    FROM src s
    LEFT JOIN dbo.dim_venta_flags d
      ON ISNULL(d.promotion_code, N'<NULL>') = ISNULL(s.promotion_code, N'<NULL>')
     AND d.has_discount = s.has_discount
     AND d.is_promo     = s.is_promo
     AND d.is_current   = 1
    WHERE d.flags_key IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_cargar_fact_ventas]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   SP: sp_cargar_fact_ventas (Carga inicial)
   Fuente: dbo.synVSalesExtract
   - Usa filas CURRENT de dimensiones
   - Recalcula claves de fecha
   ============================================================ */
CREATE   PROCEDURE [dbo].[sp_cargar_fact_ventas]
AS
BEGIN
    SET NOCOUNT ON;

    -- Estrategia: carga inicial → limpiar hechos
    TRUNCATE TABLE dbo.fact_ventas;

    INSERT dbo.fact_ventas (
        order_number, order_date_key, ship_date_key,
        product_key, state_key, flags_key,
        quantity, unit_price, discount_amount,
        gross_amount, net_amount
    )
    SELECT
        v.OrderNumber,
        CONVERT(INT, FORMAT(v.OrderDate,'yyyyMMdd')) AS order_date_key,
        CASE WHEN v.ShipDate IS NULL THEN NULL
             ELSE CONVERT(INT, FORMAT(v.ShipDate,'yyyyMMdd'))
        END AS ship_date_key,
        dp.product_key,
        de.state_key,
        dvf.flags_key,
        v.Quantity,
        v.UnitPrice,
        v.DiscountAmount,
        CAST(v.Quantity * v.UnitPrice AS DECIMAL(18,2))                      AS gross_amount,
        CAST(v.Quantity * v.UnitPrice - v.DiscountAmount AS DECIMAL(18,2))   AS net_amount
    FROM dbo.synVSalesExtract v
    -- Producto (CURRENT)
    JOIN dbo.dim_producto dp
      ON dp.product_id_nk = v.ProductID
     AND dp.is_current = 1
    -- Estado/Región (CURRENT)
    JOIN dbo.dim_estado de
      ON de.state_id_nk = v.StateID
     AND de.is_current = 1
    -- Flags (CURRENT) por combinación
    JOIN dbo.dim_venta_flags dvf
      ON ISNULL(dvf.promotion_code, N'<NULL>') = ISNULL(v.PromotionCode COLLATE DATABASE_DEFAULT, N'<NULL>')
     AND dvf.has_discount = CASE WHEN v.DiscountAmount > 0 THEN 1 ELSE 0 END
     AND dvf.is_promo     = CASE WHEN v.PromotionCode IS NOT NULL THEN 1 ELSE 0 END
     AND dvf.is_current   = 1
    -- Fechas deben existir en dim_tiempo
    JOIN dbo.dim_tiempo dt_o
      ON dt_o.date_key = CONVERT(INT, FORMAT(v.OrderDate,'yyyyMMdd'))
    LEFT JOIN dbo.dim_tiempo dt_s
      ON dt_s.date_key = CASE WHEN v.ShipDate IS NULL THEN NULL
                              ELSE CONVERT(INT, FORMAT(v.ShipDate,'yyyyMMdd'))
                         END;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_etl_carga_inicial]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[sp_etl_carga_inicial]
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ts_start  datetime2(0) = SYSUTCDATETIME();

    PRINT '=== INICIO CARGA INICIAL DW === ' + CONVERT(varchar(19), @ts_start, 126);

    BEGIN TRY
        BEGIN TRAN;

        ------------------------------------------------------------
        -- 0) Limpiar hechos (para permitir TRUNCATE en dim_tiempo)
        ------------------------------------------------------------
        IF OBJECT_ID('dbo.fact_ventas', 'U') IS NOT NULL
        BEGIN
            PRINT 'Paso 0: TRUNCATE dbo.fact_ventas';
            TRUNCATE TABLE dbo.fact_ventas;
        END

        ------------------------------------------------------------
        -- 1) Cargar dimensión tiempo
        --    (Tu SP interno puede hacer TRUNCATE + relleno)
        ------------------------------------------------------------
        PRINT 'Paso 1: Ejecutando dbo.sp_cargar_dim_tiempo';
        EXEC dbo.sp_cargar_dim_tiempo;

        ------------------------------------------------------------
        -- 2) Cargar dimensiones (producto, estado/región y junk)
        ------------------------------------------------------------
        PRINT 'Paso 2: Ejecutando dbo.sp_cargar_dimensiones';
        EXEC dbo.sp_cargar_dimensiones;

        ------------------------------------------------------------
        -- 3) Cargar hechos
        ------------------------------------------------------------
        PRINT 'Paso 3: Ejecutando dbo.sp_cargar_hechos';
        EXEC dbo.sp_cargar_hechos;

        COMMIT;

        PRINT '=== FIN CARGA INICIAL DW === ' + CONVERT(varchar(19), SYSUTCDATETIME(), 126);

        ------------------------------------------------------------
        -- Resumen rápido
        ------------------------------------------------------------
        SELECT 'dim_tiempo'      AS dim, COUNT(*) AS filas FROM dbo.dim_tiempo
        UNION ALL
        SELECT 'dim_producto'    AS dim, COUNT(*) FROM dbo.dim_producto    WHERE is_current = 1
        UNION ALL
        SELECT 'dim_estado'      AS dim, COUNT(*) FROM dbo.dim_estado      WHERE is_current = 1
        UNION ALL
        SELECT 'dim_venta_flags' AS dim, COUNT(*) FROM dbo.dim_venta_flags WHERE is_current = 1
        UNION ALL
        SELECT 'fact_ventas'     AS dim, COUNT(*) FROM dbo.fact_ventas;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;

        DECLARE
            @ErrNum  int         = ERROR_NUMBER(),
            @ErrSev  int         = ERROR_SEVERITY(),
            @ErrSta  int         = ERROR_STATE(),
            @ErrProc sysname     = ERROR_PROCEDURE(),
            @ErrLine int         = ERROR_LINE(),
            @ErrMsg  nvarchar(4000) = ERROR_MESSAGE();

        PRINT '*** ERROR EN ORQUESTADOR ***';
        PRINT CONCAT('Número: ', @ErrNum, ' | Severidad: ', @ErrSev, ' | Estado: ', @ErrSta);
        PRINT CONCAT('Procedimiento: ', ISNULL(@ErrProc,'<ad-hoc>'), ' | Línea: ', @ErrLine);
        PRINT @ErrMsg;

        ;THROW;  -- re-lanza para que SSMS/Agente lo capture
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_carga_dim_tiempo]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ==================================================
   SP 1: Cargar / sembrar DIM_TIEMPO a partir de rango de ventas
   ================================================== */
CREATE   PROC [dbo].[usp_carga_dim_tiempo]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @min DATE, @max DATE, @from DATE, @to DATE;
    SELECT @min = MIN(OrderDate), @max = MAX(OrderDate)
    FROM dbo.synSales;

    -- Colchón: 1 año antes y 1 año después (mínimo 5 años)
    SET @from = DATEADD(YEAR, -1, ISNULL(@min, '2018-01-01'));
    SET @to   = DATEADD(YEAR,  1, ISNULL(@max, '2022-12-31'));

    ;WITH d AS (
        SELECT @from AS dt
        UNION ALL
        SELECT DATEADD(DAY, 1, dt)
        FROM d
        WHERE dt < @to
    )
    INSERT INTO dbo.dim_tiempo
    (
      date_key, [date], [year], [quarter], [month], [day], month_name, day_name, week_of_year, is_weekend
    )
    SELECT
      CONVERT(INT, FORMAT(d.dt,'yyyyMMdd')),
      d.dt,
      YEAR(d.dt),
      DATEPART(QUARTER, d.dt),
      MONTH(d.dt),
      DAY(d.dt),
      DATENAME(MONTH, d.dt),
      DATENAME(WEEKDAY, d.dt),
      DATEPART(WEEK, d.dt),
      CASE WHEN DATEPART(WEEKDAY, d.dt) IN (1,7) THEN 1 ELSE 0 END
    FROM d
    WHERE NOT EXISTS (SELECT 1 FROM dbo.dim_tiempo t WHERE t.[date] = d.dt)
    OPTION (MAXRECURSION 0);
END
GO
/****** Object:  StoredProcedure [dbo].[usp_carga_dimensiones]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- SP 2: Cargar dimensiones SCD2 (producto, estado/region) + junk
-- (Es el “Paso 2” empaquetado en SP)
------------------------------------------------------------
CREATE   PROC [dbo].[usp_carga_dimensiones]
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ts_now DATETIME2(0) = SYSUTCDATETIME();
    DECLARE @max_dt DATETIME2(0) = '9999-12-31';

    -- === A) Producto (SCD2) ===
    IF OBJECT_ID('tempdb..#src_prod') IS NOT NULL DROP TABLE #src_prod;
    SELECT
        p.ProductID AS product_id_nk,
        p.ProductSKU        COLLATE DATABASE_DEFAULT AS product_sku,
        p.ProductName       COLLATE DATABASE_DEFAULT AS product_name,
        p.ProductCategory   COLLATE DATABASE_DEFAULT AS product_category,
        p.ItemGroup         COLLATE DATABASE_DEFAULT AS item_group,
        p.KitType           COLLATE DATABASE_DEFAULT AS kit_type,
        p.Channels,
        p.Demographic       COLLATE DATABASE_DEFAULT AS demographic,
        p.RetailPrice,
        CAST(HASHBYTES('MD5', CONCAT(
            N'|', p.ProductSKU       COLLATE DATABASE_DEFAULT,
            N'|', p.ProductName      COLLATE DATABASE_DEFAULT,
            N'|', p.ProductCategory  COLLATE DATABASE_DEFAULT,
            N'|', p.ItemGroup        COLLATE DATABASE_DEFAULT,
            N'|', p.KitType          COLLATE DATABASE_DEFAULT,
            N'|', CONVERT(NVARCHAR(10), p.Channels),
            N'|', p.Demographic      COLLATE DATABASE_DEFAULT,
            N'|', CONVERT(NVARCHAR(32), p.RetailPrice)
        )) AS VARBINARY(16)) AS hash_diff
    INTO #src_prod
    FROM dbo.synProduct p;

    UPDATE d
       SET d.end_date=@ts_now, d.is_current=0
    FROM dbo.dim_producto d
    JOIN #src_prod s
      ON s.product_id_nk = d.product_id_nk
     AND d.is_current = 1
    WHERE d.hash_diff <> s.hash_diff;

    INSERT dbo.dim_producto(
        product_id_nk, product_sku, product_name, product_category,
        item_group, kit_type, channels, demographic, retail_price,
        start_date, end_date, is_current, hash_diff
    )
    SELECT
        s.product_id_nk, s.product_sku, s.product_name, s.product_category,
        s.item_group, s.kit_type, s.Channels, s.demographic, s.RetailPrice,
        @ts_now, @max_dt, 1, s.hash_diff
    FROM #src_prod s
    LEFT JOIN dbo.dim_producto d
      ON d.product_id_nk = s.product_id_nk
     AND d.is_current = 1
    WHERE d.product_id_nk IS NULL;

    -- === B) Estado/Región (SCD2) ===
    IF OBJECT_ID('tempdb..#src_est') IS NOT NULL DROP TABLE #src_est;
    SELECT
        st.StateID AS state_id_nk,
        st.StateCode        COLLATE DATABASE_DEFAULT AS state_code,
        st.StateName        COLLATE DATABASE_DEFAULT AS state_name,
        st.TimeZone         COLLATE DATABASE_DEFAULT AS time_zone,
        r.RegionID,
        r.RegionName        COLLATE DATABASE_DEFAULT AS region_name,
        CAST(HASHBYTES('MD5', CONCAT(
            N'|', st.StateCode   COLLATE DATABASE_DEFAULT,
            N'|', st.StateName   COLLATE DATABASE_DEFAULT,
            N'|', st.TimeZone    COLLATE DATABASE_DEFAULT,
            N'|', CONVERT(NVARCHAR(10), r.RegionID),
            N'|', r.RegionName   COLLATE DATABASE_DEFAULT
        )) AS VARBINARY(16)) AS hash_diff
    INTO #src_est
    FROM dbo.synState st
    JOIN dbo.synRegion r ON r.RegionID = st.RegionID;

    UPDATE d
       SET d.end_date=@ts_now, d.is_current=0
    FROM dbo.dim_estado d
    JOIN #src_est s
      ON s.state_id_nk = d.state_id_nk
     AND d.is_current = 1
    WHERE d.hash_diff <> s.hash_diff;

    INSERT dbo.dim_estado(
        state_id_nk, state_code, state_name, time_zone, region_id, region_name,
        start_date, end_date, is_current, hash_diff
    )
    SELECT
        s.state_id_nk, s.state_code, s.state_name, s.time_zone, s.RegionID, s.region_name,
        @ts_now, @max_dt, 1, s.hash_diff
    FROM #src_est s
    LEFT JOIN dbo.dim_estado d
      ON d.state_id_nk = s.state_id_nk
     AND d.is_current = 1
    WHERE d.state_id_nk IS NULL;

    -- === C) Junk (venta_flags) ===
    IF OBJECT_ID('tempdb..#src_flags') IS NOT NULL DROP TABLE #src_flags;
    SELECT
        CASE WHEN s.PromotionCode IS NULL THEN NULL
             ELSE s.PromotionCode COLLATE DATABASE_DEFAULT
        END AS promotion_code,
        CAST(CASE WHEN s.DiscountAmount > 0 THEN 1 ELSE 0 END AS BIT) AS has_discount,
        CAST(CASE WHEN s.PromotionCode IS NOT NULL THEN 1 ELSE 0 END AS BIT) AS is_promo
    INTO #src_flags
    FROM dbo.synSales s
    GROUP BY
        CASE WHEN s.PromotionCode IS NULL THEN NULL
             ELSE s.PromotionCode COLLATE DATABASE_DEFAULT
        END,
        CAST(CASE WHEN s.DiscountAmount > 0 THEN 1 ELSE 0 END AS BIT),
        CAST(CASE WHEN s.PromotionCode IS NOT NULL THEN 1 ELSE 0 END AS BIT);

    INSERT dbo.dim_venta_flags(
        promotion_code, has_discount, is_promo,
        start_date, end_date, is_current, hash_diff
    )
    SELECT
        s.promotion_code, s.has_discount, s.is_promo,
        @ts_now, @max_dt, 1,
        CAST(HASHBYTES('MD5', CONCAT(
            N'|', COALESCE(s.promotion_code, N'<NULL>') COLLATE DATABASE_DEFAULT,
            N'|', CONVERT(NVARCHAR(1), s.has_discount),
            N'|', CONVERT(NVARCHAR(1), s.is_promo)
        )) AS VARBINARY(16)) AS hash_diff
    FROM #src_flags s
    LEFT JOIN dbo.dim_venta_flags d
      ON ISNULL(d.promotion_code, N'<NULL>') = ISNULL(s.promotion_code, N'<NULL>')
     AND d.has_discount = s.has_discount
     AND d.is_promo     = s.is_promo
     AND d.is_current   = 1
    WHERE d.flags_key IS NULL;

    PRINT 'OK: dimensiones actualizadas.';
END
GO
/****** Object:  StoredProcedure [dbo].[usp_carga_fact_ventas]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- SP 3: Cargar tabla de hechos (inicial)
------------------------------------------------------------
CREATE   PROC [dbo].[usp_carga_fact_ventas]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE dbo.fact_ventas;

    IF OBJECT_ID('tempdb..#src') IS NOT NULL DROP TABLE #src;

    SELECT
        s.OrderNumber,
        CONVERT(INT, FORMAT(s.OrderDate,'yyyyMMdd')) AS order_date_key,
        CONVERT(INT, FORMAT(s.ShipDate,'yyyyMMdd'))  AS ship_date_key,
        dp.product_key,
        de.state_key,
        dvf.flags_key,
        s.Quantity,
        s.UnitPrice,
        s.DiscountAmount,
        CAST(s.Quantity * s.UnitPrice AS DECIMAL(18,2)) AS gross_amount,
        CAST((s.Quantity * s.UnitPrice) - s.DiscountAmount AS DECIMAL(18,2)) AS net_amount
    INTO #src
    FROM dbo.synSales s
    JOIN dbo.dim_producto dp
      ON dp.product_id_nk = s.ProductID
     AND dp.is_current    = 1
    JOIN dbo.dim_estado de
      ON de.state_id_nk = s.CustomerStateID
     AND de.is_current  = 1
    JOIN dbo.dim_venta_flags dvf
      ON ISNULL(dvf.promotion_code, N'<NULL>') COLLATE DATABASE_DEFAULT
         = ISNULL(s.PromotionCode, N'<NULL>') COLLATE DATABASE_DEFAULT
     AND dvf.has_discount = CASE WHEN s.DiscountAmount > 0 THEN 1 ELSE 0 END
     AND dvf.is_promo     = CASE WHEN s.PromotionCode IS NOT NULL THEN 1 ELSE 0 END
     AND dvf.is_current   = 1;

    INSERT dbo.fact_ventas(
        order_number, order_date_key, ship_date_key,
        product_key, state_key, flags_key,
        quantity, unit_price, discount_amount, gross_amount, net_amount
    )
    SELECT
        OrderNumber, order_date_key, ship_date_key,
        product_key, state_key, flags_key,
        Quantity, UnitPrice, DiscountAmount, gross_amount, net_amount
    FROM #src;

    PRINT 'OK: fact_ventas cargada.';
END
GO
/****** Object:  StoredProcedure [dbo].[usp_dw_carga_inicial]    Script Date: 8/11/2025 7:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- SP Maestro (Orquesta todo)
------------------------------------------------------------
CREATE   PROC [dbo].[usp_dw_carga_inicial]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        EXEC dbo.usp_carga_dim_tiempo;
        EXEC dbo.usp_carga_dimensiones;
        EXEC dbo.usp_carga_fact_ventas;
        PRINT 'OK: Carga inicial DW completada.';
    END TRY
    BEGIN CATCH
        DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('Fallo orquestador: %s',16,1,@msg);
    END CATCH
END
GO
